<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Placement Management System</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background-color:powderblue;">
	<div class="container text-center">
		<div>
			<h1>Admin DashBoard</h1>
		</div>
		<div>
			<h3><a th:href="@{/users}">Registered Student List</a></h3>
		    <h3><a th:href="@{/driveRegister}">Drive Registration</a></h3>
		</div>
	</div>
</body>
</html>